version: "3.9"

services:
  scikitbio-tutorial:
    build: .
    container_name: scikitbio_tutorial
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8888:8888"
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root
